.after {
  position: relative;
  cursor: pointer;
}

.after::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #4285F4;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.after:hover::after {
  transform: scaleX(1);
}

.image-hero {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

.image-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.image-hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 15, 0.7);
  /* Adjust for more/less darkness */
  z-index: 1;
}

.image-hero .text-content {
  position: absolute;
  top: 45%;
  left: 48%;
  right: -1%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  color: white;
  padding: 20px;
}

.btn {
  margin-top: 30px;
}

#hover {
  border: 1px solid white;
  padding: 7px 20px;
  transition: 1s;
}

#hover:hover {
  background-color: #4285F4;
  border: 1px solid #4285F4;
}

@media (min-width: 100px) {
  .hero-word{
    font-size: .5rem;
  }
  #text{
    font-size: 1rem;
  }
}
@media (min-width: 200px) {
  .hero-word{
    font-size: .5rem;
  }
  #text{
    font-size: .9rem;
    /* margin-left: -20px; */
  }
  #hover{
    padding: 5px 5px;
    font-size: .43rem;
  }
  .logo{
    width: 30%;
  }
  .courses-text{
    font-size: .8rem;
  }
}
@media (min-width: 300px) {
  .hero-word{
    width: 120%;
    font-size: .4rem;
  }
  #text{
    font-size: .76rem;
  }
  #hover{
    padding: 5px 10px;
    font-size: .6rem;
  }
  .courses-text{
    font-size: 1rem;
  }

}
@media (min-width: 300px) {
  .logo{
    width: 25%;
  }
}
@media (min-width: 500px) {
  .hero-word{
    font-size: .6rem;
  }
  #text{
    font-size: 2rem;
  }
  #hover{
    padding: 5px 20px;
    font-size: 1rem;
  }
  .logo{
    width: 25%;
    margin-top: 20px;
    margin-right: 240px;
  }
}
@media (min-width: 600px) {
  .logo{
    width: 25%;
    margin-top: 20px;
    margin-right: 320px;
  }
}

@media (min-width: 768px) {
  .a-col img {
    margin-top: -800px;
  }
}
@media (min-width: 840px) {
  .hero-word{
    font-size: 1rem;
  }
  #text{
    font-size: 3.5rem;
  }
  #hover{
    padding: 5px 20px;
    font-size: 1rem;
  }
  .logo{
    width: 15%;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 600px;
  }
  .a-col img {
    margin-top: -0px;
  }
}