.after {
  position: relative;
  cursor: pointer;
}

.after::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #4285F4;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.after:hover::after {
  transform: scaleX(1);
}

.image-hero {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

.image-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.image-hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 15, 0.7);
  /* Adjust for more/less darkness */
  z-index: 1;
}

.image-hero .text-content {
  position: absolute;
  top: 45%;
  left: 48%;
  right: -1%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  color: white;
  padding: 20px;
}

.btn {
  margin-top: 30px;
}

#hover {
  border: 1px solid white;
  padding: 7px 20px;
  transition: 1s;
}

#hover:hover {
  background-color: #4285F4;
  border: 1px solid #4285F4;
}

#text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

#card {
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* normal shadow */
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

#card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  /* bigger & darker shadow */
  transform: translateY(-5px);
  /* optional lift effect */
}
.pointer{
  cursor: pointer;
}
@media (min-width: 100px) {
  #text {
    font-size: 1rem;
  }

  #hover {
    padding: 5px 5px;
    font-size: .43rem;
  }

  .logo {
    width: 55% !important;
    margin-left: -30px;
    margin-right: 25px;
  }

  #flex-text {
    font-size: .7rem;
  }

  #ho {
    padding: 8px 5px;
    font-size: .7rem;
    margin-left: -10px !important;
  }

  #flex-img {
    width: 100% !important;
  }

  #flex-text {
    margin-left: -10px !important;
  }

  .courses-text {
    font-size: .8rem;
  }

  #head-text {
    margin-left: -10px !important;
  }
  #footer-text{
    font-size: .4rem;
  }
  .pointer {
    width: 50%;
  }
  .love{
    width: 30% !important;
    margin-left: -25px !important;
    margin-right: -25px !important;
  }
}

@media (min-width: 200px) {
  #text {
    font-size: 1rem;
  }

  #hover {
    padding: 5px 5px;
    font-size: .43rem;
  }

  .logo {
    width: 45% !important;
    margin-left: -30px;
    margin-right: 25px;
  }

  #flex-text {
    font-size: .7rem;
  }

  #ho {
    padding: 8px 5px;
    font-size: .7rem;
    margin-left: 40px !important;
  }

  #flex-img {
    width: 100% !important;
  }

  #flex-text {
    margin-left: -10px !important;
  }

  .courses-text {
    font-size: .8rem;
  }
  #footer-text{
    font-size: .5rem;
  }
  .pointer {
    width: 45%;
  }
  .love{
    width: 30% !important;
    margin-left: -30px !important;
    margin-right: -30px !important;
  }
}

@media (min-width: 300px) {
  #text {
    font-size: 1.2rem;
  }

  #hover {
    padding: 5px 10px;
    font-size: .6rem;
  }

  .logo {
    width: 40%;
    margin-left: -30px;
  }

  #ho {
    padding: 10px 15px;
    font-size: 1rem;
    margin-left: -10px !important;
  }

  #flex-img {
    width: 100% !important;
  }

  #flex-text {
    margin-left: -10px !important;
    font-size: .8rem;
  }
  #footer-text{
    font-size: .7rem;
  }
  .pointer {
    width: 35%;
  }
  .love{
    width: 30% !important;
    margin-left: -35px !important;
    margin-right: -35px !important;
  }
}
@media (min-width: 400px) {
  .love{
    width: 22% !important;
    margin-left: -35px !important;
    margin-right: -35px !important;
  }
}

@media (min-width: 500px) {
  .hero-word {
    font-size: .6rem;
  }

  #text {
    font-size: 2rem;
  }

  #hover {
    padding: 5px 20px;
    font-size: 1rem;
  }

  .logo {
    width: 25%;
    margin-top: 20px;
    margin-right: 240px;
  }

  #flex-text {
    font-size: .8rem;
  }
  #ho{
  margin-left: -10px !important;
  padding: 10px 20px;
}

#flex-img {
  width: 100% !important;
}

#flex-text {
  margin-left: -10px !important;
}
#footer-text{
    font-size: .9rem;
  }
  .pointer {
    width: 25%;
  }
  .love{
    width: 20% !important;
    margin-left: -40px !important;
    margin-right: -40px !important;
  }
}

@media (min-width: 600px) {
  .logo {
    width: 25%;
    margin-top: 20px;
    margin-right: 320px;
  }
  .love{
    width: 15% !important;
    margin-left: -40px !important;
    margin-right: -40px !important;
  }
}

@media (min-width: 768px) {
  .a-col img {
    margin-top: -600px;
  }
  .love{
    width: 10% !important;
    margin-left: -30px !important;
    margin-right: -30px !important;
  }
}

@media (min-width: 840px) {
  .hero-word {
    font-size: 1rem;
  }

  #text {
    font-size: 3.5rem;
  }

  #hover {
    padding: 5px 20px;
    font-size: 1rem;
  }

  .logo {
    width: 15%;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 600px;
  }

  .a-col img {
    margin-top: -600px;
  }
  #head-text {
    font-size: 3rem;
  }

  #flex-text{
    margin-left: 0px !important;
  font-size: 1rem;
  }
  #footer-text{
    font-size: 1rem;
  }
  .love{
    width: 10% !important;
    margin-left: -30px !important;
    margin-right: -30px !important;
  }
}

@media (min-width: 900px) {
  .hero-word {
    font-size: 1rem;
  }

  #text {
    font-size: 3rem;
  }

  #hover {
    padding: 5px 20px;
    font-size: 1rem;
  }

  .logo {
    width: 15%;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 600px;
  }
  #head-text{
    font-size: 2rem;
  }
  .a-col img {
    margin-top: -500px;
  }
  #footer-text{
    font-size: 1rem;
  }
  .pointer{
    width: 15%;
  }
  .love{
    width: 10% !important;
    margin-left: -30px !important;
    margin-right: -30px !important;
  }
}