

.after {
  position: relative;
  cursor: pointer;
}

.after::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #4285F4;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.after:hover::after {
  transform: scaleX(1);
}

.image-hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.image-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.image-hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 15, 0.7);
  /* Adjust for more/less darkness */
  z-index: 1;
}

.image-hero .text-content {
  position: absolute;
  top: 45%;
  left: 48%;
  right: -1%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  color: white;
  padding: 20px;
}

.btn {
  margin-top: 30px;
}

#hover {
  border: 1px solid white;
  padding: 7px 20px;
  transition: 1s;
}

#hover:hover {
  background-color: #4285F4;
  border: 1px solid #4285F4;
}

#card {
  transition: box-shadow 0.3s ease;
}

#card:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 15, 0.7);
}

.image-wrapper {
  position: relative;
  overflow: hidden;
}

.image-wrapper img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  /* invisible at first */
  display: flex;
  align-items: center;
  /* text near bottom */
  padding: 15px 20px;
  transition: background 0.7s ease-in-out;
}

.overlay h1 {
  color: white;
  font-size: 1.5rem;
  margin: 20px;
  opacity: 0;
  /* invisible at first */
  transform: translateY(180px);
  /* start slightly down */
  transition: opacity 0.4s ease, transform 0.4s ease;
}


.image-wrapper:hover .overlay {
  background: rgba(84, 78, 240, 0.6);
  /* dark overlay appears */
}

.image-wrapper:hover .overlay h1 {
  opacity: 1;
  /* fade in */
  transform: translateY(0);
  /* slide up into place */
}



#row {
  align-items: center;
  justify-content: center;
}

.custom-img {
  width: 100%;
  max-width: 1200px;
  height: 370px;
  object-fit: cover;
}

.pointer {
  cursor: pointer;
}

@media (min-width: 100px) {
  .hero-word{
    font-size: .5rem;
  }
  #text{
    font-size: 1rem;
  }
}
@media (min-width: 200px) {
  .hero-word{
    font-size: .5rem;
  }
  #text{
    font-size: .9rem;
    /* margin-left: -20px; */
  }
  #hover{
    padding: 5px 5px;
    font-size: .43rem;
  }
  .logo{
    width: 30%;
  }
  .courses-text{
    font-size: .8rem;
  }
}
@media (min-width: 300px) {
  .hero-word{
    font-size: .5rem;
  }
  #text{
    font-size: 2rem;
  }
  #hover{
    padding: 5px 10px;
    font-size: .6rem;
  }
  .courses-text{
    font-size: 1rem;
  }

}
@media (min-width: 300px) {
  .logo{
    width: 25%;
  }
}
@media (min-width: 500px) {
  .hero-word{
    font-size: .6rem;
  }
  #text{
    font-size: 2rem;
  }
  #hover{
    padding: 5px 20px;
    font-size: 1rem;
  }
  .logo{
    width: 25%;
    margin-top: 20px;
    margin-right: 240px;
  }
}
@media (min-width: 600px) {
  .logo{
    width: 25%;
    margin-top: 20px;
    margin-right: 320px;
  }
}

@media (min-width: 768px) {
  .a-col img {
    margin-top: -800px;
  }
}
@media (min-width: 840px) {
  .hero-word{
    font-size: 1rem;
  }
  #text{
    font-size: 3.5rem;
  }
  #hover{
    padding: 5px 20px;
    font-size: 1rem;
  }
  .logo{
    width: 15%;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 600px;
  }
  .a-col img {
    margin-top: -0px;
  }
}